body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
.rk-btn-blue{
    color:#3F87F5;
}
.first-slider{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-position:center;
}
.img-width-full{
    width:100%;
}
.hover-shadow{
    transition:all 0.5s;
}
.hover-shadow:hover {
    box-shadow: -5px -5px 10px -5px rgba(151, 151, 151, 0.75) !important;
}
.btn-border{
    border: 1px solid #0dcaf0;
    color:#0dcaf0;
}
.carousel-item-transparent::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}